---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
      <p>Realização: Curso de Psicologia - Integrado </p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Fale conosco</h3>
      <ul>
        <li class="email"><a href="mailto:gazetauniversitariacm@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
        <li class="instagram"><a href="https://instagram.com/gazetauniversitaria"><i class="fa fa-instagram"></i></a></li>
        <li class="sobre"><a href="https://github.com/gazetauniversitaria/gazetauniversitaria.github.io/blob/master/sobre.markdown"><i class="fa fa-info-circle"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
